* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    width: 100%;
    height: auto;
    padding-top: 25px;
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    width: 90%;
    min-width: 382px;
    height: auto;
    max-width: 690px;

    margin: 0 auto;
    margin-bottom: 20px;
    padding: 25px;

    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    
}

.header-container .header_profile-pic {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    border: solid white 5px;
    border-radius: 50%;
    margin-bottom: 20px;

    background-image: url(./assets/img/Profile-pic.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_bio {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: auto;
    border: solid white 2px;
    border-radius: 5px;
    margin-bottom: 10px;

    align-items: center;
    justify-content: center;
}

.header_bio h1{
    font-weight: bold;
    font-size: 1.9rem;
    color: white;
    margin-bottom: 10px;
}

.header_bio p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.links-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    
    width: 90%;
    min-width: 382px;
    max-width: 690px;
    height: auto;

    margin: 0 auto;
    padding: 25px;



    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.linkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 75px;
    border: solid white 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;

}

.linkbox a {
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/*----ICONOS-----*/


/* .icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.icon-behance {
    background-image: url(./assets/icons/behance.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */